
// ---------------------------
// SINGLE VIEW STYLES -----------
// ---------------------------


// Slide-nav

.slide-nav{
	justify-content: flex-end;
	margin-top: -8px;
	&__link{
		color: @text-darker;
		padding: 0 0 0 3em;
		&:hover{
			text-decoration: none;
		}
	}
	.fa{
		font-size: 1.05em;
		color: @text-lighter;
	}
	&__title{
		font-size: 1em;
	}
}



@media screen and (max-width: @mobile){
	/*[class*='col-']{
		width: 100%;
	}*/
	.breadcrums-row.breadcrums-row{
		.breadcrums-container{
			padding-bottom: 18px;
			margin-top: 20px;
		}
	}
	.breadcrums-container{
		padding-top: 0;
    	margin: 20px 0 0 0;
		.flex-col{
			padding: 0;
			&:first-child{
				flex: 1;
			}
			&:last-child{
				flex: 0.25;
			}
		}
	}
	.fnb-breadcrums{
		white-space: nowrap;
    	overflow-y: auto;
		&__section{
			padding: 0 0.2em;
		}
		a{
			// text-decoration: underline;
			color: @text-lighter;
		}
		.home-icon,&__title{
			font-size: 1em;
		}
	}
	.slide-nav{
		&__title{
			display: none;
		}
		.arrow-icon{
			font-size: 1.25em;
		}
		&__link{
			padding: 0 0.3em;
		}
	}
	.title-label,.select-variant{
		font-size: 1.05em;
	}
}

@media screen and (min-width: @mobile) and (max-width: @tab){
	.fnb-header .nav-gap{
		padding: 0 15px;
	}
}

@media screen and (max-width: @xs-mobile){
	.fnb-breadcrums{
		.main-name{
			width: 138px;
		}
	}
	.slide-nav__link{
		padding: 0 0.1em;
	}
}


// Card

.card{
	padding: 2em;
	background-color: #fff;
	box-shadow: @shadow-2;
}

// Common element title
.element-title{
	font-size: 1.3em;
}

//sub-element-section

.sub-title{
	font-size: 1.15em;
}

//main heading

.main-heading{
	font-size: 1.8em;
	font-weight: 600;
	@media screen and (min-width: 769px){
		&.white{
			color: #fff;
		}
	}

}

// section title
.section-title{
	font-size: 1.3em;
	@media screen and (max-width: 600px){
		font-size: 1.2em;
	}
}


// Spacer

.spacer{
	padding-right: 5em;
}



// Share

.share-btn{
	// border-radius: 50%;
    // width: 45px;
    // height: 45px;
    // line-height: 45px;
    border: 2px solid #fff;
    font-size: 1.1em;
    justify-content: center;
    background-color: transparent;
    color: #fff;
    border-radius: 4px;
    padding: 0.2em 0.8em;
    margin-left: 0.8em;
    outline: 0;
    a{
    	color: #000;
    }
    &__icon{
    	font-size: 0.9em;
    }
    .share{
    	background-position: -332px -160px;
    	transform: scale(0.8);
    }
}

@media screen and (max-width: @mobile){
	.share{
		width: 40px;
		height: 40px;
		line-height: 40px;
		.fnb-icons.share{
			background-position: -327px -156px;
		}
	}
}


// Seller info card

.seller-info{
	&__header{
		justify-content: space-between;
	}
	&__title{
		margin: 0.2em 0 0.5em 0;
    	font-weight: 500;
    	text-transform: capitalize;
    	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
	}
	.seller-icon{
		font-size: 1.65em;
	}
	.map-icon{
    	padding-right: 10px;
    	color: @text-lighter;
	}
	.c-title{
		margin-bottom: 0;
		// font-size: 1.25em;
		color: @text-color;
		font-weight: 300;
		span{
			color: #000;
		}
	}
	.map-link{
		cursor: pointer;
	}
	.stats{
		justify-content: space-between;
		padding-bottom: 1em;
    	border-bottom: 1px solid #e6e6e6;
	}
	.view-icon{
    	padding-right: 0.3em;
    	color: @text-darker;
	}
	.views{
		.c-title{
			span{
				color: inherit;
				// font-weight: 400;
			}
		}
	}
	.operations{
		border-bottom: 1px solid #e6e6e6;
		&__title{
    		margin-bottom: 0.8em;
		}
		.location__title{
			color: #000;
			font-weight: 400;
		}
		.map-icon{
			font-size: 1.5em;
		}
	}
	.cities{
		// margin-top: 5px;
		flex-wrap: wrap;
		&__title{
			margin-bottom: 0;
    		// font-size: 1.25em;
    		padding-right: 0.3em;
    		color: @text-color;
    		font-weight: 300;
		}
		li{
			display: none;
			&:nth-child(-n+5){
				display: block;
			}
			&.line.line{
				display: block;
			}
		}
		.remain{
			display: block;
			&__number{
				font-size: 1.2em;
    			font-weight: 500;
    			padding-left: 5px;
			}
		}
	}
	.contact{
		&__info,&__enquiry{
			padding-right: 2em;
		}
		&__title{
			text-align: center;
    		padding-top: 0.8em;
    		margin-bottom: 0;
    		color: @text-lighter;
    		b{
    			color: @text-darker;
    		}
		}
		&__date{
			.contact__title{
				margin-bottom: 3em;
			}
		}
	}
}

.verified{
	.verify-icon{
		color: @success;
	}
	.c-title{
		font-size: 1.15em;
	}
}


.expand-more{
	li:not(:last-child):not(.line){
		display: block !important;
	}
}


.sell-re{
	padding: 0;
	box-shadow: 1px 4px 20px 0px rgba(0, 0, 0, 0.17);
	.contact-info{
		padding: 1.8em;
		background-color: #fcfcfc;
		position: relative;
	}
}

.contact-info{
	.close-contact{
		position: absolute;
    	top: 0.5em;
    	right: 1em;
    	font-size: 1.35em;
    	color: #a5a5a5;
    	cursor: pointer;
	}
	.collapse-section{
		&__title{
    		margin-bottom: 0.35em;
    		margin-top: 0;
		}
		.number__real{
			font-size: 1.1em;
    		padding-right: 0.5em;
    		font-weight: 500;
		}
	}
	.message{
		&__icon{
			font-size: 1.75em;
    		padding-right: 0.5em;
    		color: @text-color;
		}
		&__title{
			margin-bottom: 0;
    		// font-size: 1.25em;
    		color: @text-lighter;
		}
	}
}


.claim-box{
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.17);
    padding: 1.5em 2em;
    margin-top: 3em;
    position: relative;
    .exclamation{
    	position: absolute;
    	top: -4px;
    	right: 0;
    }
	&__icon{
		font-size: 1.75em;
    	color: @text-darker;
	}
	&__text{
    	margin: 0;
    	line-height: 1.5;
    	a{
    		color: @accent-secondary;
    		font-weight: 500;
    		border-bottom: 1px solid #777;
    		&:hover{
    			text-decoration: none;
    		}
    	}
	}
}


.rating{
	position: relative;
	width: 120px;
    height: 28px;
	.bg,.value{
    	position: absolute;
    	text-align: center;
    	&:before{
    		color: rgba(188,188,186,.5);
		    content: "\f006 \f006 \f006 \f006 \f006";
		    font-family: FontAwesome;
		    font-size: 1.5em;
		    letter-spacing: 5px;
    	}
	}
	.value{
		overflow: hidden;
		&:before{
			color: #ffc12b;
    		content: "\f005 \f005 \f005 \f005 \f005";
		}
	}
}


// @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
//    .rating{
//    	width: 125px;
// 		.bg,.value{
// 			height: 30px;
// 		}
//    }
// }


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.rating{
   		width: 125px;
		.bg,.value{
			height: 30px;
		}
   }
}

@media screen and (min-width: @mobile) and (max-width: @sm-tab){
	.seller-info{
		.contact__date{
			.contact__title{
				margin-bottom: 2em;
			}
		}
		.contact__info,.contact__enquiry{
			padding-right: 1em;
		}
	}
}


@media screen and (max-width: @mobile){
	.spacer{
		padding: 0;
	}
	.seller-info{
		margin: 0 -15px;
    	padding: 1.5em 15px;
    	&__title{
    		margin-top: 0.5em;
    	}
    	.seller-icon{
			font-size: 1.2em;
		}
		.c-title{
			font-size: 0.95em;
		}
		.stats{
			margin-top: 10px;
			padding-bottom: 15px;
		}
		.verified{
			img{
				padding: 0;
			}
			&-icon{
				width: 20px;
    			background-size: 450px;
    			background-position: -154px -664px;
			}
			.c-title{
				display: none;
			}
		}
		.operations{
			padding-bottom: 15px;
    		padding-top: 15px;
			&__title{
				font-size: 1.1em;
				margin-top: 0;
			}
		}
		.map-icon{
			font-size: 1.2em;
		}
		.cities.cities{
			padding-left: 15px;
			 // margin-top: 0;
			.cities__title{
				font-size: 0.95em;
			}
			.remain__number{
				font-size: 0.95em;
			}
			li{
				display: none;
				&:nth-child(-n+4){
					display: block;
				}
				&.remain{
					display: block;
				}
			}
			&.expand-more{
				li{
					display: block;
				}
			}
		}
		&__footer{
			padding-top: 5px;
		}
		.contact__title{
			font-size: 0.95em;
			text-align: center;
		}
		.contact{
			display: inherit;
			&__info{
				display: inline-block;
    			width: 48%;
    			padding: 0;
    			margin-right: 1em;
			}
			&__enquiry{
				display: inline-block;
    			flex-direction: column;
    			width: 45%;
    			padding: 0;
    			.outline{
    				display: block;
    				margin: 0 auto;
    				padding: 0.8em 1.8em;
    			}
			}
			.fnb-btn{
				width: 100%;
			}
			&__date{
				.contact__title{
					margin-top: 0.5em;
    				margin-bottom: 0;
				}
			}

		}
	}
	.sell-re{
		.contact-info{
			padding: 0;
			.collapse-section{
				&__title{
					font-size: 1.1em;
				}
				.number__real{
					font-size: 0.95em;
				}
			}
			.message__title{
				font-size: 0.95em;
			}
			.exclamation{
				width: 53px;
			}
			.close-contact{
				top: -0.5em;
    			right: 0.5em;
    			font-size: 1.25em;
			}
		}
	}
	.fnb-label{
		font-size: 0.85em;
    	font-weight: 400;
	}
	.main-heading{
		font-size: 1.75em;
		margin: 10px 0 15px;
	}
	.rating{
		width: 82px;
    	height: 20px;
    	.bg,.value{
    		&:before{
				font-size: 0.95em;
    		}
    	}
	}
	.fnb-btn{
		font-size: 0.95em;
	}
	.core-cat{
		padding-top: 30px;
	}
	.element-title{
		font-size: 1.2em;
	}
	.sub-title{
		font-size: 1em;
	}
	.fnb-cat{
		li{
			margin: 0.3em 0.5em 0.3em 0;
			padding: 0.3em 0.9em;
			a{
				font-size: 0.95em;
			}
		}
	}
	.claim-box{
		padding-top: 15px;
    	padding-bottom: 15px;
    	margin: 1.5em 0 2em 0;
	}
	.docs{
		padding-top: 0;
	}
}

@media screen and (max-width: @xs-mobile){
	.contact{
		.fnb-btn{
			padding: 0.8em 0.8em;
			font-size: 0.85em;
		}
	}
}



// Nav tabs

.nav-info{
	&__tabs{
		border: 0;
		li{
			padding-right: 1.5em;
			a{
				font-size: 1.05em;
    			border: 0;
    			color: #000;
    			position: relative;
    			display: block;
    			padding: 10px 15px 2px 15px;
    			margin-bottom: 10px;
    			text-transform: uppercase;
    			&:hover,&:active{
    				border: 0;
    				background-color: transparent;
    				color: inherit;
    				text-decoration: none;
    				&:after{
    					width: 100%;
    				}
    			}
    			&:focus{
    				text-decoration: none;
    			}
    			&:after{
    				content: "";
				    position: relative;
				    bottom: -4px;
				    display: block;
				    margin: 0 auto;
				    width: 0;
				    height: 2px;
				    background-color: @accent-secondary;
				    -webkit-transition: opacity .3s ease,width .3s ease;
				    transition: opacity .3s ease,width .3s ease;
    			}
				&.active{
					border: 0;
    				border-bottom: 2px solid @accent-secondary;
    				color: @accent-secondary;
    				font-weight: 500;
    				&:hover{
    					border: 0;
    					background-color: transparent;
    					color: inherit;
    					border-bottom: 2px solid @accent-secondary;
    				}
    				&:after{
    					width: 100%;
    				}
				}
			}
		}
	}
	.sticky-section{
		position: fixed;
		background-color: #fff;
		padding: 0.5em 0;
		margin: 0;
		top: -100px;
		left: 0;
		z-index: 1;
		width: 100%;
		transition: all 0.8s ease;
		box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.32);
		// transform: translateY(0,0,0);
		.fnb-btn{
			padding: 0.65em 1.8em;
			// display: none;
		}
		&.fixed{
			top: 0;
		}
	}
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
	.nav-info{
    	li{
    		a{
    			&:hover{
    				&:after{
    					width: 0;
    				}
    			}
    			&.active{
    				border-bottom: 0;
    				&:hover{
    					border-bottom: 0;
    				}
    				&:after{
    					width: 100%;
    				}
    			}
    		}
    	}
	}
}


@media screen and (max-width: @mobile){
	.nav-info{
		margin-top: 0;
    	padding-top: 10px;
		&__tabs{
			white-space: nowrap;
    		overflow-x: auto;
    		overflow-y: hidden;
		}
    	li{
    		padding-right: 0.5em;
    		a{
    			font-size: 1.1em;
    			&:hover{
    				&:after{
    					width: 0;
    				}
    			}
    			&.active{
    				border-bottom: 0;
    				&:hover{
    					border-bottom: 0;
    				}
    				&:after{
    					width: 100%;
    				}
    			}
    		}
    	}
		.sticky-section{
			top: -200px;
			padding: 0.4em 0;
		}
		.enquiry-btn{
			display: none;
		}
	}
}


@media screen and (max-width: @sm-tab){
	.nav-info{
		&__tabs{
			li{
				padding-right: 0;
			}
		}
	}
}


// nav tabs details

.update-sec{
	// border: 1px solid #e2e2e2;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.17);
	.update-space{
		padding: 1em 1.5em;
	}
	&__header{
		background-color: @highlight;
    	justify-content: space-between;
    	border-bottom: 1px solid #e2e2e2;
	}
	&__link{
		// font-size: 1.1em;
	}
	&__heading{
		// color: @text-darker;
	}
	&__caption{
		margin-bottom: 1em;
		// color: @text-color;
		line-height: 1.5;
		font-weight: 300;
	}
	.update-img{
		li{
			margin-right: 0.8em;
		}
	}
	.time{
		font-weight: 300;
		margin-bottom: 0;
		opacity: 0.5;
	}
}


// listed section

.listed{
	.parent-cat{
		flex: 0.5;
		&__title{
			font-weight: 500;
		}
	}
	.child-cat{
		flex: 0.5;
		padding: 0 0.5em;
		&__title{
			color: @grey-darker;
		}
	}
	.cat-size{
		margin-bottom: 0;
	}
	.fnb-cat{
		flex: 1.5;
		li{
			background-color: transparent;
		}
		&__title{
			color: @text-color;
		}
	}
	.parent-cat{
		.fnb-icons{
			height: 40px;
    		width: 40px;
    		line-height: 40px;
    		background-size: 300px;
    		&.meat{
    			background-position: -47px -525px;
    		}
    		&.veg{
    			background-position: -4px -525px;
    		}
		}
	}
}


@media screen and (max-width: @mobile){
	.listed{
		padding-bottom: 0;
		&__section{
			display: inherit;
    		margin-top: 1em;
		}
		.parent-cat{
			width: 40%;
    		display: inline-block;
    		.cat-icon,.cat-size{
    			display: inline-block;
    			vertical-align: middle;
    		}
		}
		.child-cat{
			display: inline-block;
		}
		.fnb-cat{
			margin-top: 0.5em;
		}
		hr{
			margin: 10px 0;
		}
	}
}

@media screen and (max-width: @sm-tab){
	.listed{
		.fnb-cat{
			flex: 1;
		}
	}
}

@media screen and (min-width: @sm-tab) and (max-width: @sm-desk){
	.listed{
		.parent-cat{
			flex: 0.7;
		}
	}
}


// Brands

.brands{
	li{
		padding-right: 1em;
	}
	.sub-title{
		font-weight: 500;
		margin-bottom: 0;
	}
	.tags{
		padding-right: 0.3em;
	}
}


@media screen and (max-width: @mobile){
	.brands{
		padding-top: 10px;
		.element-title{
			margin-bottom: 10px;
			margin-top: 0;
		}
		&__list{
			white-space: nowrap;
    		overflow-x: auto;
    		overflow-y: hidden;
		}
		li{
			padding-right: 1.2em;
		}
	}
}

// Highlights

.highlights{
	li{
		&:not(:first-child){
			margin-top: 1em;
		}
	}
	.sub-title{
		margin-bottom: 0;
		color: @grey-darker;
	}
}


// Description

.description{
	.sub-title{
		margin-bottom: 0;
		color: @grey-darker;
		line-height: 1.6;
	}
	& + .less{
		margin-top: -15px;
	}
}


// Read more toggle

[data-readmore]{
	display: block;
  	width: 100%;
  	overflow: hidden;
}

.vm{
	display: block;
  	font-size: 1.2em;
    font-weight: 500;
    &:hover{
    	text-decoration: none;
    	color: lighten(@accent-secondary,5%);
    }
    @media screen and (max-width: @mobile){
		font-size: 0.95em;
    }
}


// more details

.more-details{
	.main-heading{
		color: @text-lighter;
	}
	.year{
		padding-right: 5em;
	}
	.lighter,.link-click{
		color: @grey-darker;
	}
	.operation{
		.data-show{
			display: none;
		}
		.expand-more{
			.data-show{
				display: block;
			}
		}
	}
	iframe{
		width: 100%;
	}
}

@media screen and (max-width: @mobile){
	.more-details{
		.main-heading{
			line-height: 1.5;
    		font-weight: 400;
    		padding-bottom: 0;
		}
		.year{
			padding-right: 2em;
		}
		[class*="detail-"]{
			margin-top: 15px;
    		margin-bottom: 15px;
		}
	}
	.highlights,.description,.more-details{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.description{
		padding-top: 10px;
	}
}

// Common heading

.section-start-head{
	justify-content: space-between;
	@media screen and (max-width: @mobile){
		margin-bottom: 0;
	}
}


// article col grid

.article-col{
	flex: 1 0 calc(~'50% - 3em');
	max-width: calc(~'53% - 3em');
    margin-bottom: 1.5em;
	&:first-child{
		margin-right: 3em;
	}
}


// Similar businesses

.similar-business{
	&__section{
		flex-wrap: wrap;
		align-items: flex-start;
	}
	.powerSeller{
		margin-top: -20px;
    	margin-bottom: 8px;
	}
	.business-card{
		padding: 1em;
		&__header{
			// justify-content: space-between;
			margin: -14px;
    		padding: 14px;
    		margin-bottom: 14px;
    		background-color: #f7f7f7;
		}
		&__body{
			padding-bottom: 15px;
		}
		&__footer{
			margin: 0 -1em -1em;
    		padding: 1em 1.5em;
    		border-top: 1px solid #ececec;
    		justify-content: space-between;
		}
	}
	.verified-icon{
		width: 26px;
		transform: scale(0.7);
	}
	.rating{
		width: 90px;
    	height: 23px;
    	.bg,.value{
    		&:before{
    			font-size: 1.05em;
    		}
    	}
	}
	.fnb-cat{
		li{
			background-color: #fff;
			border: 1px solid #000;
			padding: 0.3em 1em;
    		margin: 0.2em 0.6em 0.2em 0;
			// border-bottom: 2px solid #ddd;
		}
		&__title{
			font-size: 0.9em;
			color: #000;
			font-weight: 500;
		}
	}
	.operations{
		.lighter{
			color: @text-lighter;
		}
		.areas{
			flex-wrap: wrap;
			&__title{
				margin-bottom: 0;
				margin-right: 0.5em;
				color: @text-darker;
			}
		}
	}
	.address{
		.sub-title{
			margin-bottom: 0;
			margin-top: 2px;
			// &:not(.address-title){
			// 	color: @text-darker;
			// }
		}
		&-title{
			font-size: 1em;
			color: @text-lighter;
		}
	}
	.footer-text{
		margin-bottom: 0;
		font-size: 1em;
		a{
			color: @accent-primary;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.date{
		color: @text-lighter;
	}
}


@media screen and (max-width: @mobile){
	.similar-business{
		padding-top: 0;
    	padding-bottom: 10px;
		&__section{
			white-space: nowrap;
    		overflow-x: auto;
    		overflow-y: hidden;
    		margin: 0 -15px;
    		display: block;
		}
	}
	.article-col{
		margin: 1em;
		white-space: normal;
		display: inline-block;
		width: 300px;
		max-width: inherit;
		&:first-child{
			margin-right: 0;
		}
	 //    &:last-child{
		// 	&:after{
		// 		content: '';
		// 		display: inline-block;
		// 		position: absolute;
		// 		right: -15px;
		// 		height: 15px;
		// 		width: 15px;
		// 	}
		// }
	}

}

@media screen and (min-width: @tab) and (max-width: @sm-tab){
	.similar-business{
		&__section{
			flex-wrap: wrap;
			.article-col{
				width: calc(~'50% - 3em');
			}
			.areas{
				flex-wrap: wrap;
			}
		}
	}
}

// Related article section

.related-article{
	&__section{
		flex-wrap: wrap;
	}
	.fnb-article{
		transition: all 0.5s ease;
		&__banner{
			//background-image: url('../../../img/article-1.png');
			background-repeat: no-repeat;
			background-size: cover;
			height: 130px;
    		border-top-left-radius: 5px;
    		border-top-right-radius: 5px;
    		margin: 0;
		}
		.banner-2{
			//background-image: url('../../../img/article-2.png');
		}
		&__title{
			line-height: 1.4;
			text-transform: capitalize;
		}
		&__caption{
			// color: @grey-darker;
		}
		.date{
			opacity: 0.5;
			font-size: 1em;
		}
	}
	.article-link{
		color: inherit;
		display: block;
		&:hover{
			text-decoration: none;
		}
	}
}

@media screen and (max-width: @mobile){
	.related-article{
		padding-top: 10px;
		padding-bottom: 10px;
		&__section{
			white-space: nowrap;
    		overflow-x: auto;
    		overflow-y: hidden;
    		margin: 0 -15px;
    		display: block;
		}
    	.fnb-article{
    		flex: 1 0 80%;
    		&:first-child{
    			margin-right: 0.3em;
    		}
    		&:hover{
    			box-shadow: none;
    		}
    	}
	}
}


// catalogue

.catalogue{
	justify-content: space-between;
	border-bottom: 1px solid #ddd;
	.sub-title{
		margin-bottom: 0;
		color: @text-color;
	}
	&-download,.file-icon{
		font-size: 1.35em;
	}
	&-download{
		color: @text-lighter;
	}
	a{
		display: flex;
		color: inherit;
	}
}


// enquiry form

.enquiry-form{
	border: 2px solid #f5a623;
	&__header{
		.sub-title{
			margin-bottom: 0;
			color: @text-lighter;
		}
	}
	label{
		font-weight: 400;
    	color: #4a4a4a;
    	font-size: 1em;
	}
	.fnb-select{
		border-bottom: 1px solid #ddd;
    	border-radius: 0;
    	font-size: 0.95em;
    	padding: 0;
	}
	// .custom-label{
	// 	color: #4a4a4a;
	// }
	.fnb-input,.fnb-textarea{
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	      color: #9b9ea0;
	      font-size: 0.9em;
	    }
	    &::-moz-placeholder { /* Firefox 19+ */
	      color: #9b9ea0;
	      font-size: 0.9em;
	    }
	}
	.float-label.filled{
		font-size: 1.15em;
	}
}

// Interested toggle

.interested-options{
	align-items: flex-start;
	li{
		position: relative;
		margin-right: 1.8em;
	}
	.option{
		justify-content: center;
		.cat-icon{
			box-shadow: 0px 0px 0px 4px rgba(28, 189, 149, 0.45);
			filter: grayscale(1);
		}
	}
	.radio{
		position: absolute;
		height: 100%;
		width: 100%;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		outline: 0;
		z-index: 1;
		&:checked{
			& + .option .cat-icon{
				filter: grayscale(0);
			}
			& + .option + .interested-label{
				color: #5cd6b7;
			}
		}
		&:focus{
			outline: 0;
		}
	}
	.interested-label{
		margin-top: 15px;
		max-width: 100px;
		text-align: center;
		font-size: 0.9em;
		font-weight: 500;
	}
}


@media screen and (max-width: @mobile){
	// .form-toggle{
	// 	position: fixed;
	//     bottom: 1.5em;
 //    	right: 1em;
	//     height: 60px;
	//     z-index: 1;
	//     width: 60px;
	//     line-height: 60px;
	//     border-radius: 50%;
	//     background-color: @accent-secondary;
	//     box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
	//     color: #fff;
	//     font-size: 2em;
	//     display: flex;
	//     align-items: center;
	//     justify-content: center;
	//     border: 4px solid rgba(90, 90, 90, 0.18);
	// }
	.fly-out{
		transform: translateX(100%);
		transition: all 0.5s cubic-bezier(0.44, -0.25, 0.75, 1);
		&.no-transition{
			transition: inherit;
		}
		.mobile-back{
			padding: 15px;
    		background-color: #fff;
    		color: #000;
    		box-shadow: @high-shadow-1;
    		position: fixed;
    		top: 0;
    		width: 100%;
    		z-index: 10;
    		&.p-v-10{
    			padding-top: 10px;
    			padding-bottom: 10px;
    		}
    		i{
    			font-size: 1.25em;
    			padding-right: 10px;
    		}
    		.element-title{
    			font-size: 1.05em;
    		}
    		.left{
    			flex: 1;
    		}
    		&:after{
    			content: '';
    		}
		}
		.enquiry-form{
			margin-top: 0;
    		margin-bottom: 0;
    		border: 0;
    		background-color: transparent;
    		box-shadow: none;
    		&__body{
    			margin-top: -10px;
    		}
		}
		&.active{
			transform: translateX(0);
		}
		&__content{
			height: 100vh;
			overflow-y: auto;
			padding-top: 50px;
		}
	}
	.back{
		.fnb-btn{
			padding-right: 0;
		}
	}
	.back-text{
		font-size: 1.1em;
		color: #000;
		flex: 1;
		vertical-align: middle;
	}
}


// Browse category

.browse-cat{
	padding: 1.5em;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.17);
    margin: 2em 0;
	li{
		margin-top: 5px;
    	padding-bottom: 5px;
    	border-bottom: 2px solid rgba(204, 204, 204, 0.25);
    	a{
    		color: inherit;
    		transition: all 0.5s ease;
    		&:hover{
    			text-decoration: none;
    			color: @accent-primary;
    		}
    		& > p{
    			margin-bottom: -5px;
    			margin-top: -5px;
    		}
    	}
    	.cat-icon{
        	transform: scale(0.5);
    	}
    	&:last-child{
    		border-bottom: 0;
    		padding-bottom: 0;
    	}
	}
	.sub-title{
		margin-bottom: 0;
	}
	.cat-icon{
		margin-right: 8px;
		box-shadow: none;
	}
	.total{
		// color: @text-lighter;
	}
}

@media screen and (max-width: @mobile){
	.browse-cat{
		&__list{
			margin-top: 20px;
		}
		li{
			margin-top: 10px;
    		padding-bottom: 10px;
		}
		.icon{
			height: 45px;
    		width: 45px;
    		line-height: 45px;
		}
	}


}


// Advertisement

.advertisement{
	justify-content: center;
	height: 300px;
	background-color: #eee;
	&.small{
		height: 80px;
	}
}


// business listing

.business-listing{
	.note{
		margin-left: auto;
    	margin-right: auto;
	}
}

@media screen and (max-width: @mobile){
	.business-listing{
		padding: 5px 0;
	}
}

// why fnb

.why-fnb{
	.points{
		align-items: flex-start;
	}
	.why-icon{
		//background-image: url('../../../img/sprite-na.png');
		display: block;
		height: 95px;
    	width: 110px;
    	margin: 0 auto 0.8em auto;
    	transform: scale(0.85);
    	&.quote{
    		background-position: -36px -1708px;
    	}
    	&.supplier{
    		background-position: -173px -1708px;
    	}
    	&.jobs{
    		background-position: -316px -1708px;
    	}
    	&.news{
    		background-position: -447px -1708px;
    	}
	}
	.element-title{
		font-weight: 500;
    	padding: 0 4em;
    	margin-bottom: 1em;
    	font-size: 2em;
    	@media screen and (max-width: 1400px){
    		padding: 0 3em;
    		font-size: 1.3em;
    	}
	}
	&.sign-up-adv{
		.element-title{
			padding: 0;
    		font-size: 1.7em;
    		margin-bottom: 0;
		}
		.why-icon{
			margin-bottom: 0;
			transform: scale(0.7);
		}
		.subTitle{
			padding: 0;
    		font-size: 1.15em;
    		margin-bottom: 0.3em;
		}
		.points li{
			margin-bottom: 2em;
		}
	}
}


@media screen and (max-width: @mobile){
	.why-row{
		margin-bottom: 0;
	}
	.why-fnb{
		padding-bottom: 0;
    	margin-bottom: 10px;
		.main-title{
			font-size: 1.7em;
    		margin-bottom: 20px;
		}
		.points{
			margin-top: 0;
    		flex-direction: column;
		}
	}

}

@media screen and (min-width: @mobile) and (max-width: @tab){
	.why-fnb{
		.points{
			flex-direction: row;
    		flex-wrap: wrap;
    		li{
    			flex: 1 0 50%;
    			padding: 0 0.8em;
    		}
		}
	}
}


// Photo gallery

.photo-gallery{
	.main-img{
		width: 100%;
	}
	&__thumbnails{
		align-items: inherit;
		li{
			flex: 1;
	    	padding-right: 0.4em;
	    	position: relative;
	    	cursor: pointer;
	    	a{
	    		color: inherit;
				&:hover{
					text-decoration: none;
				}
	    	}
	    	&:last-child{
	    		padding-right: 0;
	    		// flex: 1;
	    		// .gal-img{
	    		// 	height: 100%;
	    		// }
	    	}
		}
	}
	.sub-title{
		position: absolute;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		color: #fff;
		background-color: rgba(0,0,0,0.5);
	}
	.count{
		justify-content: center;
		padding-right: 0;
	}
	.gal-img{
		min-height: 120px;
    	background-size: cover;
    	background-repeat: no-repeat;
    	background-position: center;
	}
}


@media screen and (max-width: @mobile){
	// mobile sidebar

	.collapse.m-side-bar{
		display: block;
		position: fixed;
		background-color: #fff;
		width: 280px;
		height: 100% !important;
		top: 0;
		left: 0;
		margin: 0;
		z-index: 2;
		padding: 15px;
		padding-bottom: 0;
	    overflow-y: auto;
	    margin-top: -1px;
	    transform: translate3d(-500px, 0, 0);
	    transition: all 0.8s cubic-bezier(0.44, -0.25, 0.75, 1);
	    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
	    &.active{
	    	transform: translate3d(0, 0, 0);
	    }
	    .fnb-select.fnb-select{
	    	&:hover{
	    		color: inherit;
	    	}
	    }
	}

	.mobile-top{
		margin: 0 -15px;
	    margin-top: -15px;
	    padding: 15px;
	    background-color: @accent-primary;
	    color: #fff;
	    &__text{
	    	margin-bottom: 0;
	    }
	    .fnb-btn{
	    	padding: 0.6em 1.8em;
	    	&:hover{
	    		background-color: #fff;
	    		color: @accent-primary;
	    	}
	    }
	}

	.city-select{
		margin-top: 0;
	    border-bottom: 1px solid #efefef;
	    padding-bottom: 5px;
	    float: none;
    	margin: 0 -15px;
	    .fnb-select{
	    	font-weight: 400;
	    	font-size: 1em;
	    	padding: 0 9px;
	    	color: @text-color;
	    	background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#6b6b6b' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
	    }
	}

	.mobile-side-title{
	    margin: 1.5em -15px 0 -15px;
	    font-weight: 200;
	    padding: 0 15px 5px 15px;
	    border-bottom: 1px solid #eee;
	    text-transform: uppercase;
    	font-size: 0.95em;
    	color: @text-lighter;
	}

	.navbar .side-section{
		padding: 0;
	    margin: 0;
	    float: none !important;
	    li{
	    	margin: 0 -15px;
	    	padding: 0 15px;
	    	border-bottom: 1px solid #eee;
	    	float: none;
	    	.nav-title-size{
	    		padding: 8px 0;
	    		font-size: 1em;
	    		font-weight: 400;
	    	}
	    }
	}
	.site-overlay{
		position: fixed;
    	width: 100%;
    	height: 100%;
    	background-color: rgba(197, 197, 197, 0.43);
    	top: 0;
    	z-index: 1;
    	display: none;
    	left: 0;
    	transition: all 0.5s ease;
    	&.active{
    		display: block;
    	}
	}
}


// Premium benefits

.pre-benefits{
	justify-content: space-between;
    padding: 1.3em 1.5em;
    border: 1px dashed #ff353b;
    margin-bottom: 1em;
    background-color: #fff;
    &__content{
    	padding-left: 1em;
    }
    &__title{
    	margin-top: 0;
    }
    .upgrade{
    	padding: 0.7em 1.2em;
    }
}

@media screen and (max-width: @mobile){
	.pre-benefits{
		flex-direction: column;
		&__intro{
			flex-direction: column;
		}
		&__content{
			padding: 0;
    		text-align: center;
    		margin: 0.8em 0;
		}
	}
}


// edit business listing

.edit-listing{
	&__container{
		justify-content: flex-end;
    	margin-bottom: 1.5em;
	}
	.edit-icon{
		font-size: 1.5em;
	}
}

//status listing

.status-listing{
	padding: 1.5em;
    background-color: #f9f9f9;
    margin-bottom: 2em;
    .title-label{
    	font-size: 1.15em;
    }
    .spin{
    	font-size: 1.3em;
    	vertical-align: middle;
    }
}

@media screen and (max-width: @mobile){
	.status-listing{
		text-align: center;
		margin: 1.5em 0 0 0;
		.title-label,.select-variant{
			font-size: 1.05em;
		}
	}
}


// recent updates form

.updatesForm{
	.fnb-input{
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	      font-size: 1.1em;
	    }
	    &::-moz-placeholder { /* Firefox 19+ */
	      font-size: 1.1em;
	    }
	}
	.title-label{
		font-size: 1.1em;
	}
	.attach{
		font-size: 1.1em;
		text-decoration: underline;
		&:hover{
			color: lighten(@text-lighter,5%);
		}
	}
}


@media screen and (max-width: @mobile){
	.updatesForm{
		.fnb-input{
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		      font-size: 1em;
		    }
		    &::-moz-placeholder { /* Firefox 19+ */
		      font-size: 1em;
		    }
		}
		.title-label{
			font-size: 1em;
		}
		.attach{
			font-size: 1em;
			display: block;
			text-align: center;
		}
		.post-update{
			text-align: center;
		}
	}
	.verified-toggle{
		.toggle-state{
			font-size: 0.95em;
		}
	}
}


// Enquiry Modal

.verification-modal{
	.modal-content{
		padding: 0;
	}
	.modal-header{
		padding: 0;
    	position: relative;
	}
	.close{
		position: absolute;
    	top: 12px;
    	right: 12px;
    	font-size: 1.2em;
    	z-index: 1;
	}
	.modal-body{
		padding: 0;
	}
	.enquiry-details{
		align-items: stretch;
		position: relative;
	}
	.col-left{
		background-color: #eaf3f1;
    	flex: 0.5;
    	flex-direction: column;
    	justify-content: space-between;
    	&--full{
    		flex: 1;
    	}
	}
	.col-right{
    	flex: 1;
	}
	.send-enquiry{
		width: 100%;
	}
	.or-divider{
		position: absolute;
		top: 45%;
	    left: 47%;
		background-color: #fff;
		padding: 14px 15px;
		text-align: center;
		font-size: 1.1em;
	    font-weight: 500;
		border-radius: 50%;
	    border: 2.5px solid @grey-lighter;
	    margin: auto;

	}
	.detail-cols{
		padding: 2.5em 2em;
		@media(min-width: 768px){
			&.extra-padding{
				padding: 3.5em 3em;
			}
		}
	}
	.intro-text{
		margin: 0;
    	line-height: 1.3;
	}
	.direction-down{
		margin-left: auto;
	}
	.h-i-w{
		.points{
			li{
				padding-bottom: 1.8em;
				position: relative;
				&:after{
					content: '';
					position: absolute;
				    display: block;
				    width: 1px;
				    height: 100%;
				    background-color: #828282;
				    left: 1em;
				    top: 0;
				}
				&:last-child{
					padding-bottom: 0;
					margin-top: -5px;
					&:after{
						display: none;
					}
				}
			}
			&__number{
				height: 28px;
			    width: 30px;
			    display: inline-block;
			    background-color: #fff;
			    text-align: center;
			    margin-right: 8px;
			    border-radius: 50%;
			    line-height: 28px;
			    border: 1px solid;
			    color: #828282;
			    display: inline-table;
			    position: relative;
			    z-index: 1;
			}
			&__text{
				font-size: 0.88em;
			}
		}
	}
	.gap-separator{
		padding-top: 1.5em;
    	padding-bottom: 1.5em;
	}
	.flex-points{
		li{
			flex: 1 0 50%;
			margin-bottom: 0.3em;
			padding-right: 0.5em;
		}
		label{
			align-items: baseline;
		}
		.checkbox{
			top: 3px;
			&:checked{
				& + .flex-points__text{
					font-weight: 500;
					color: #000;
				}
			}
		}
		&__text{
			margin-bottom: 0;
			font-size: 1em;
			padding-left: 0.2em;
			cursor: pointer;
		}
	}
	.categories__points{
		align-items: flex-start;
		li{
			flex: 1 0 33.33%;
			max-width: 33.33%;
		}
	}
	.add-more-cat{
		&__input{
			display: none;
		}
		&.expand-more{
			li{
				display: inline-block !important;
			}
			.add-more-cat__input{
				display: block;
			}
		}
	}
	.send-action{
		.fnb-btn{
			// width: 25%;
		}
	}
	li.flexdatalist-multiple-value{
		padding-left: 0;
    	margin-left: 0;
    	margin-top: 0;
    	input{
    		padding-left: 0;
    	}
	}
	.areas-select{
		&__selection{
			margin-top: -0.5em;
	    	background-color: #f7f7f7;
	    	padding-bottom: 0.5em;
	    	li{
	    		padding: 0 0.5em;
	    		flex: 1 0 33.33%;
	    		max-width: 33.33%;
	    		margin-top: 0.5em;
	    	}
	    	.fnb-select{
	    		font-size: 1em;
	    		border-color: #adadad;
	    	}
			.multiselect-native-select{
				padding-left: 0.8em;
			}
		}
	}
	.verification{
		border: 3px dashed #ffc1bd;
    	margin-top: 1em;
    	padding: 0.8em;
    	margin-bottom: 1.5em;
    	background-color: #fffdfd;
    	&__col{
    		flex: 1;
    	}
    	hr{
    		margin: 1.2em 0;
    		border-width: 2px;
    	}
    	&__row{
    		margin: 0.5em;
    	}
    	&__detail{
    		flex: 0.7;
    		p{
    			font-size: 0.95em;
    			margin-bottom: 0;
    			&.larger{
    				font-size: 1.1em;
    			}
    		}
    	}
    	&__code{
    		flex: 0.55;
    		margin-left: 3em;
    		text-align: right;
    		.fnb-input{
    			font-size: 0.85em;
    			background-color: #fff;
    			border: 1px solid #ddd;
    			text-indent: 22px;
    			width: 130px;
    			display: inline-block;
    			height: 33px;
    		}
    	}
    	&__otp{
    		flex: 0.6;
    	}
	}
	.didnt-receive{
		font-size: 0.8em;
	}
	.verify-exclamation{
		width: 23px;
    	height: 20px;
    	font-size: 1em;
    	border-radius: 50%;
    	border: 2px solid;
    	display: inline-table;
    	text-align: center;
    	line-height: 20px;
    	color: #e66960;
    	margin-right: 8px;
	}
	.enquiry-success{
		padding: 2.5em;
		.fa-check-circle{
			color: #6ac259;
    		font-size: 3.5em;
		}
		&__text{
			padding-left: 1em;
    		line-height: 1.4;
    		padding-right: 8em;
    		font-size: 1.2em;
		}
		&__sub-text{
			padding-left: 1em;
		}
    	.thanks-text{
    		font-size: 1.35em;
    		padding-left: 0.7em;
    	}
	}
	.suppliers-data{
		padding: 2em;
    	background-color: #f3f3f3;
    	position: relative;
    	padding-top: 4em;
    	.direction-down{
    		display: inline-block;
    	}
    	&:before{
    		background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
		    background-position: left-bottom;
		    background-repeat: repeat-x;
		    background-size: 32px 32px;
		    content: " ";
		    display: block;
		    position: absolute;
		    top: 0px;
		    left: 0px;
		    width: 100%;
		    height: 32px;
		    transform: rotate(-180deg);
    	}
    	.categories__points{
    		.checkbox{
    			&:before{
    				height: 16px;
    				width: 15px;
    			}
    		}
    	}
    	.areas-select__selection{
    		background-color: #fff;
    	}
	}
	.seller-info{
		border: 0;
		box-shadow: @high-shadow-1;
		margin: 1em 0;
		p{
			font-size: 1em;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	.supplier-title{
		max-width: 60%;
	}
	.suppliers-title-head{
		justify-content: space-between;
    	align-items: flex-start;
    	.main-heading{
    		font-size: 1.4em;
    		margin-bottom: 0.3em;
    	}
	}
	.rating{
		width: 95px;
		.bg,.value{
			&:after,&:before{
				font-size: 1.15em;
			}
		}
	}
	.featured{
		&__title{
			justify-content: flex-end;
		}
	}
	.location{
		.map-icon{
			background-size: 2000%;
    		padding-right: 0;
    		margin-right: -5px;
    		background-position: -27px -105px;
		}
	}
	.core-cat{
		flex: 1;
		.fnb-cat{
			li{
				padding: 0.3em 1em;
    			margin-bottom: 0;
    			a{
    				font-size: 0.9em;
    			}
			}
		}
	}
	.get-details{
		flex: 0.5;
    	padding-left: 4em;
	}
	.seller-enquiry{
		margin-top: 1em;
		&__title{
			font-size: 1.2em;
			margin-bottom: 0;
    		align-items: flex-start;
		}
		@media screen and (min-width: 769px){
			.brand-name{
				font-size: 1.1em;
			}
			.verified-icon{
				margin-left: 1em;
	    		// background-size: 2000%;
	    		// background-position: -196px -187px;
	    		// max-width: 29px;
	    		transform: scale(0.75);
			}
		}
		.location{
			margin: 0.5em 0;
			.map-icon{
				margin-right: -8px;
    			background-position: -35px -126px;
			}
			&__title{
				font-size: 1em;
			}
		}
		.rat-view{
			justify-content: space-between;
    		border-bottom: 1px solid #a5a5a5;
    		.eye-icon{
    			background-size: 2000%;
    			background-position: -105px -127px;
    		}
    		.views__title{
    			font-size: 1em;
    		}
		}
	}
	.rotator{
		transform: rotate(-45deg);
		.direction-down{
			transform: scaleX(-1);
		}
	}
	.level-two{
		display: none;
		&.shown{
			display: block;
		}
	}

	.vendor-contact-details{
		margin: 0 2em 2em;
		padding: 1em 2em;
		border: 1px solid lighten(@accent-primary, 30%);
		background-color: #fffcf8;
		.vendor-label{
			font-size: 1.15em;
		}
	}
}



@media screen and (max-width: @mobile){
	.verification-modal{
		p,label,.fnb-input,.multiselect-selected-text{
			font-size: 0.95em;
		}
		.gap-separator{
			padding: 0.8em 0;
		}
		.modal-body{
			padding-top: 4em;
		}
		.enquiry-details{
			flex-direction: column;
			margin-top: -2px;
		}
		.detail-cols{
			padding: 1em;
		}
		.col-left{
			padding-bottom: 4em;
		}
		.col-right{
			position: relative;
    		top: -2.5em;
    		background-color: #fff;
    		margin: 0 1em;
    		width: calc(~'100% - 2em');
    		padding-bottom: 0;
    		&.contact{
    			padding-top: 3em;
    		}
		}
		.or-divider{
			top: -20px;
			left: 42%;
		}
		.send-enquiry{
			width: 100%;
		}
		.intro-text{
			font-size: 1.3em;
		}
		.seller-enquiry{
			margin-top: 0.2em;
			.brand-name{
				overflow: hidden;
    			text-overflow: ellipsis;
    			display: -webkit-box;
    			-webkit-line-clamp: 2;
    			-webkit-box-orient: vertical;
			}
			.verified-icon{
				margin-left: 0.5em;
    			background-size: 500px;
    			background-position: -208px -195px;
    			background-position: -172px -161px;
    			width: 65px;
    			height: 23px;
			}
			.location{
				margin-top: -1px;
				.map-icon{
					height: 25px;
				}
			}
			.rat-view{
				border-bottom: 0;
			}
		}
		.enquiry-success{
			padding: 1em;
    		align-items: flex-start;
    		.fa{
    			font-size: 3em;
    		}
    		&__text{
    			padding-right: 0;
    			margin-top: 0;
    			margin-bottom: 0;
    			font-size: 1.1em;
    		}
    		.thanks-text{
    			font-size: 1.25em;
    			margin-bottom: 0.5em;
    		}
		}
		.contact-success{
			.owner-detail{
				.fa{
					font-size: 1em;
				}
			}
		}
		.seller-info{
			margin: 1.5em 0;
		}
		.looking-for{
			&__toggle{
				display: block;
    			margin-bottom: 0.6em;
			}
		}
		.flex-points{
			.checkbox{
				top: 1px;
			}
			&__text{
				font-size: 0.95em;
			}
		}
		.suppliers-data{
			padding-left: 1em;
    		padding-right: 1em;
    		.cat-holder{
    			align-items: flex-start;
    		}
		}
		.suppliers-title-head{
			flex-direction: column;
		}
		.suppliers-title{
			overflow: hidden;
    		white-space: nowrap;
    		text-overflow: ellipsis;
    		width: 100%;
    		.main-heading{
    			font-size: 1.1em;
    		}
		}
		.suppliers-stat{
			width: 100%;
    		display: flex;
    		align-items: center;
    		justify-content: space-between;
		}
		.cat-holder{
			flex-direction: column;
			.get-details{
				padding: 0;
    			margin: 1em 0;
    			width: 100%;
    			.fnb-btn{
    				padding: 0.8em 1.8em;
    				font-size: 0.9em;
    				width: 45%;
    				margin: 0 auto;
    			}
			}
		}
		.verification{
			margin: -15px;
    		border-width: 1.5px;
    		padding: 1em;
    		margin-bottom: 10px;
    		&.vertical-margin{
    			margin: 20px 0;
    		}
    		&__row{
    			flex-direction: column;
    			margin-left: 0;
    			margin-right: 0;
    		}
    		&__col{
    			margin-top: 0.5em;
    		}
    		&__code{
    			margin-left: 0;
    			text-align: center;
    			flex: 1;
    		}
    		hr{
    			margin: 0.8em 0;
    		}
    		&__detail{
    			p.larger{
    				font-size: 1em;
    			}
    		}
    		.fnb-input{
    			width: 110px;
    			font-size: 0.85em;
    			text-indent: 20px;
    			padding-left: 0;
    			padding-right: 0;
    		}
    		.didnt-receive{
    			margin-top: 1em;
    		}
		}
		.deal-text{
			font-size: 1.2em;
			line-height: 1.3;
			p{
				font-size: 0.8em;
			}
		}
		.verify-exclamation{
			font-size: 0.85em;
    		width: 23px;
    		height: 15px;
    		line-height: 18px;
    		margin-right: 8px;
		}
		.send-action{
			text-align: center;
			.fnb-btn{
				width: 40%;
			}
		}
		.level-two{
			.send-action{
				margin-top: 2em;
			}
		}
		.areas-select{
			&__selection{
				li{
					flex: 1 0 50%;
    				max-width: 50%;
    				.fnb-select{
    					font-size: 0.9em;
    					padding-left: 0.5em;
    				}
    				.left-star{
    					&:after{
    						padding-left: 0;
    					}
    				}
				}
			}
		}
		&.multilevel-modal{
			.level-two{
				display: block;
				top: 0;
				height: 100%;
    			overflow: auto;
				&.shown{
					position: relative;
					overflow: inherit;
				}
			}
		}
		.float-label{
			&.filled{
				// transform: translateX(-2.5em) translateY(0.5em) scale(0.75);
				transform: translateX(-0.5em) translateY(0.5em) scale(0.75);
				font-size: 1.1em;
			}
		}
		.vendor-contact-details{
			margin: 0 1.5em 2em;
			padding: 1em 1em;
			.vendor-label{
				font-size: 1em;
			}
		}
		.log-link{
			margin: 0.5em 0;
		}
	}
}



@media screen and (orientation:landscape)
and (min-device-width: 319px)
and (max-device-width: 650px) {
	.verification-modal{
		.verification__row{
			flex-direction: row;
		}
		.verification__code{
			text-align: right;
		}
		.suppliers-data{
			.cat-holder{
				flex-direction: row;
    			padding-bottom: 0.8em;
			}
			.get-details{
				.fnb-btn{
					width: 100%;
				}
			}
		}
	}
}



@media screen and (min-width: 650px) and (max-width: @mobile){
	.suppliers-data{
		.cat-holder{
			align-items: flex-start;
		}
		.filter-cards{
			.fnb-cat li{
				display: block;
				&:last-child{
					display: none;
				}
			}
		}
	}
}



// Design Version - 2.0

.breadcrums-container.single-breadcrums{
	padding-bottom: 0;
	.fnb-breadcrums .home-icon,.fnb-breadcrums__title{
		color: #fff;
	}
}


// Angled section

.single-view-head{
    padding-bottom: 2em;
    position: relative;
    &:after{
	    content: '';
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    z-index: -1;
	    -webkit-backface-visibility: hidden;
	    width: 100%;
	    height: 300px;
	    background: linear-gradient(to bottom, rgba(248, 80, 50, 0.7) 8%, #ed704e 30%, #ed704e 100%);
	    top: 0;
	    transform: skewY(5deg);
	    transform-origin: 100% 0;
    }
}

.animate-row{
	@media screen and (min-width: 769px){
		// transition: all 1s cubic-bezier(0.44, -0.25, 0.75, 1);
		position: relative;
		transition: transform 1s ease;
	}
}


// page sidebar

.overflow-section{
	overflow-x: hidden;
}

.page-sidebar{
	position: absolute;
	top: 0;
	background-color: #fff;
	right: 0;
	width: 30vw;
	height: 100vh;
	// overflow: auto;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.17);
    padding: 1.5em;
    padding-top: 1em;
    transform: translate3d(100%, 0, 0);
    &__header{
    	padding-bottom: 1em;
    	margin: 0 -1.5em;
	    padding-left: 1em;
	    padding-right: 1em;
	    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.11);
    	.fnb-select{
    		border: 1px solid #ddd;
    		padding: 0.5em;
    		font-size: 1em;
    		margin-left: 1em;
    	}
    }
    &__body{
    	// overflow: auto;
    	// height: 100%;
    	// margin: 0 -15px;
    	// padding: 0 15px;
    	// padding-bottom: 4em;
    }
    @media screen and (max-width: @mobile){
    	padding: 0;
    	position: relative;
    	width: 100%;
    	height: 100%;
    	padding-bottom: 1em;
    	transform: translate3d(0, 0, 0);
    	.update-sec__heading{
    		margin-bottom: 10px;
    	}
    	.posted-date{
    		font-size: 0.95em;
    	}
    	&__body{
    		padding-bottom: 0;
    	}
    }
}


@media screen and (max-width: @mobile){
	.side-toggle{
		.fnb-select{
			border: 1px solid #ddd;
	    	padding: 0.5em;
	    	font-size: 0.9em;
	    	margin-left: 1em;
		}
	}
}

.sidebar-article{
	box-shadow: none;
	padding: 0 2em;
	.update-sec__body{
		// border-top: 1px solid #ddd;
		margin: 1em 0;

	}
	.posted-date{
		margin-top: 1.2em;
	}
	// &:first-child{
	// 	.update-sec__body{
	// 		margin-top: 0;
	// 		border-top: none;
	// 	}
	// }
	// &:last-child{
	// 	.update-sec__body{
	// 		margin-bottom: 0;
	// 		padding-bottom: 0;
	// 	}
	// }
}

.post-comment{
	.fnb-btn{
		padding: 0.5em 3em;
	}
}

.body-slide{
	transform: translate3d(-30%, 0, 0);
	position: fixed;
    width: 100%;
	&:after{
		content:'';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		z-index: 1;
		background-color: rgba(0,0,0,0.5);
	}
}

.published-title{
	color: rgba(6, 6, 6, 0.41);
}

.design-2-card{
	margin-right: -5em;
	padding: 1.5em;
	.map-icon{
		transform: scale(0.8);
    	padding-right: 0;
    	width: 25px;
	}
	.verified-icon{
		transform: scale(0.7);
		width: 28px;
	}
	.seller-info__title{
		margin-bottom: 0.2em;
		font-size: 1.65em;
		flex: 1;
	}
	.stats{
		padding-bottom: 0.8em;
	}
	.rating{
		width: 114px;
		.value,.bg{
			&:before{
				font-size: 1.4em;
			}
		}
	}
	.operations{
		border-bottom: 0;
	}
	.operations__title{
		margin-bottom: 0.5em;
	}
	.contact__title{
		padding-left: 1em;
    	padding-top: 0;
	}
}

.equal-col{
	// height: 328px;
    background-color: rgb(243, 243, 243);
    box-shadow: 10px -1px 20px 0px rgba(0, 0, 0, 0.17);
    padding: 1.5em;
    margin-left: -2.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .contact__enquiry{
    	.btn{
    		border-color: @accent-primary;
    		width: 80%;
    		box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.26);
    	}
    }
}


// Boost row

.boost-row.single-boost{
	border: 1px solid #ddd;
    margin-top: 0;
    padding: 2em;
    .s-outline{
    	padding: 0.8em 1.5em;
    	font-size: 1.1em;
    }
    .fa-rocket{
    	transform: rotate(-45deg);
    	font-size: 3em;
    }
	.boost-row__title{
		margin: 1em 0;
		font-size: initial;
	}
}



// Increase sales row

.increase-sale{
	border: 1px solid #ddd;
    padding: 1.5em;
    margin-top: 2em;
}


// credit card row

.credit-card{
	li{
		margin-right: 1em;
		font-size: 1.1em;
	}
	.fa{
		color: #a7a7a7;
		font-size: 0.9em;
		padding-right: 0.2em;
	}
}


.why-captions{
	margin-top: 1em;
	padding: 0 1em;
}



@media screen and (max-width: @mobile){
	.breadcrums-container.single-breadcrums{
		flex-direction: column;
	}
	.slide-nav{
		margin-top: 0;
    	justify-content: space-between;
    	padding: 0.8em 0;
    	.published-title{
    		font-size: 1em;
    	}
    	.share-btn{
    		font-size: 1em;
    		padding: 0.1em 0.5em;
    		.share{
    			height: 26px;
    			width: 30px;
    			transform: scale(0.6);
    		}
    	}
	}
	.design-2-card{
		margin: 0 auto;
    	padding: 1em;
    	.seller-info__title{
    		font-size: 1.2em;
    		padding-right: 0.5em;
    		margin-top: 0;
    	}
    	.rating{
    		width: 85px;
    		.value,.bg{
    			&:before{
    				font-size: 1em;
    			}
    		}
    	}
    	.verified-icon{
    		width: 25px;
    		height: 25px;
    		background-position: -149px -519px;
    		transform: inherit;
    	}
    	.stats{
    		flex-direction: column;
    		margin-top: 0;
    		.rating-view{
    			order: 2;
    			margin-top: 10px;
    			width: 100%;
    			justify-content: space-between;
    		}
    		.views,.verified{
    			padding: 0;
    			.c-title{
    				display: block;
    			}
    		}
    		.fnb-label{
    			order: 1;
    			align-self: flex-end;
    			margin-top: -24px;
    		}
    	}
    	.map-icon{
    		position: relative;
    		left: -5px;
    		width: 20px;
    		transform: scale(0.6);
    	}
    	.operations{
    		&__title{
    			line-height: 1.4;
    		}
    		.opertaions__container{
    			align-items: flex-start;
    			margin-top: 15px;
    			.location{
    				flex: 1;
    				margin-top: -4px;
    			}
    			.cities{
    				padding-left: 0;
    				flex: 2.2;
    			}
    		}
    	}
    	.seller-info__footer{
    		.contact{
    			display: block;
    			&__info{
    				width: 100%;
    				display: flex;
    				.fnb-btn{
    					padding: 0.5em 1em;
    					flex: 1;
    				}
    			}
    		}
    	}
	}
	.equal-col{
		margin: 0 auto;
    	background-color: transparent;
    	box-shadow: none;
    	padding: 0;
	}
	.photo-gallery__thumbnails{
		margin-bottom: 0.5em;
	}
	.catalogue{
		padding: 1em 0;
	}
	.nav-info li a{
		font-size: 1em;
		&.active{
			&:hover{
				color: @accent-secondary;
			}
		}
	}
	.updateTitle,.update-sec__caption{
		font-size: 1em;
	}
	.update-sec__link{
		margin-top: 1em;
    	display: block;
    	font-size: 0.9em;
	}
	.update-sec__heading{
		margin-bottom: 0;
	}
	.payment-mode{
		margin-top: 0.8em;
		&__title{
			margin-bottom: 10px;
		}
		li{
    		font-size: 1.05em;
    		margin-bottom: 1em;
    		flex: 1 0 33.33%;
		}
	}
	.boost-row.single-boost{
		.fa-rocket{
			font-size: 2.5em;
		}
		.s-outline{
			padding: 0.6em 1.5em;
    		font-size: 1em;
		}
	}
	.why-row{
		margin-top: 10px;
		li:not(:last-child){
			margin-bottom: 1em;
		}
	}
	.single-view-head{
		&:after{
			height: 300px;
			transform: skewY(12deg);
		}
	}
	.browse-cat__list{
		p{
			font-size: 1em;
		}
	}
	.sidebar-article{
		.update-sec__body{
			margin-top: 0;
		}
	}
}

@media screen and (max-width: 650px){
	.design-2-card{
		.seller-info .c-title{
			width: 160px;
		}
	}
}








